* text=auto !eol
/Makefile -text
/apertium-kv-ru.ru-kv.rlx -text
/apertium-kv-ru.ru.acx -text
/apertium-kv-ru.ru.dix -text
dev/sentences.txt -text svneol=unset#application/octet-stream
test/0001.dis.txt -text
test/0001.txt -text svneol=unset#application/octet-stream
test/0002.dis.txt -text
test/0002.txt -text svneol=unset#application/octet-stream
test/0003.dis.txt -text
test/0003.txt -text svneol=unset#application/octet-stream
test/0004.dis.txt -text
test/0004.txt -text svneol=unset#application/octet-stream
test/0005.dis.txt -text
test/0005.txt -text svneol=unset#application/octet-stream
test/0006.dis.txt -text
test/0006.txt -text svneol=unset#application/octet-stream
test/0007.dis.txt -text
test/0007.txt -text svneol=unset#application/octet-stream
test/0008.dis.txt -text
test/0008.txt -text svneol=unset#application/octet-stream
test/0009.dis.txt -text
test/0009.txt -text
test/0010.dis.txt -text
test/0010.txt -text svneol=unset#application/octet-stream
test/0011.dis.txt -text
test/0011.txt -text svneol=unset#application/octet-stream
test/0012.dis.txt -text
test/0012.txt -text svneol=unset#application/octet-stream
test/0013.dis.txt -text
test/0013.txt -text svneol=unset#application/octet-stream
test/0014.dis.txt -text
test/0014.txt -text svneol=unset#application/octet-stream
test/0015.dis.txt -text
test/0015.txt -text svneol=unset#application/octet-stream
test/0016.dis.txt -text
test/0016.txt -text svneol=unset#application/octet-stream
test/0017.dis.txt -text
test/0017.txt -text svneol=unset#application/octet-stream
test/0018.dis.txt -text
test/0018.txt -text svneol=unset#application/octet-stream
test/0019.dis.txt -text
test/0019.txt -text svneol=unset#application/octet-stream
test/0020.dis.txt -text
test/0020.txt -text svneol=unset#application/octet-stream
test/0021.dis.txt -text
test/0021.txt -text svneol=unset#application/octet-stream
test/0022.dis.txt -text
test/0022.txt -text svneol=unset#application/octet-stream
test/0023.dis.txt -text
test/0023.txt -text svneol=unset#application/octet-stream
test/0024.dis.txt -text
test/0024.txt -text svneol=unset#application/octet-stream
test/0025.dis.txt -text
test/0025.txt -text svneol=unset#application/octet-stream
test/0026.dis.txt -text
test/0026.txt -text svneol=unset#application/octet-stream
test/0027.dis.txt -text
test/0027.txt -text svneol=unset#application/octet-stream
test/0028.dis.txt -text
test/0028.txt -text svneol=unset#application/octet-stream
test/0029.dis.txt -text
test/0029.txt -text svneol=unset#application/octet-stream
test/0030.dis.txt -text
test/0030.txt -text svneol=unset#application/octet-stream
test/0031.dis.txt -text
test/0031.txt -text svneol=unset#application/octet-stream
test/0032.dis.txt -text
test/0032.txt -text svneol=unset#application/octet-stream
test/0033.dis.txt -text
test/0033.txt -text svneol=unset#application/octet-stream
test/0034.dis.txt -text
test/0034.txt -text svneol=unset#application/octet-stream
test/0035.dis.txt -text
test/0035.txt -text svneol=unset#application/octet-stream
test/0036.dis.txt -text
test/0036.txt -text svneol=unset#application/octet-stream
test/0037.dis.txt -text
test/0037.txt -text svneol=unset#application/octet-stream
test/0038.dis.txt -text
test/0038.txt -text svneol=unset#application/octet-stream
test/0039.dis.txt -text
test/0039.txt -text svneol=unset#application/octet-stream
test/0040.dis.txt -text
test/0040.txt -text svneol=unset#application/octet-stream
test/0041.dis.txt -text
test/0041.txt -text svneol=unset#application/octet-stream
test/0042.dis.txt -text
test/0042.txt -text svneol=unset#application/octet-stream
test/0043.dis.txt -text
test/0043.txt -text svneol=unset#application/octet-stream
test/0044.dis.txt -text
test/0044.txt -text svneol=unset#application/octet-stream
test/0045.dis.txt -text
test/0045.txt -text svneol=unset#application/octet-stream
test/0046.dis.txt -text
test/0046.txt -text svneol=unset#application/octet-stream
test/0047.dis.txt -text
test/0047.txt -text svneol=unset#application/octet-stream
test/0048.dis.txt -text
test/0048.txt -text svneol=unset#application/octet-stream
test/0049.dis.txt -text
test/0049.txt -text svneol=unset#application/octet-stream
test/0050.dis.txt -text
test/0050.txt -text svneol=unset#application/octet-stream
test/0051.dis.txt -text
test/0051.txt -text svneol=unset#application/octet-stream
test/history.log -text
test/run-tests.sh -text
